<!DOCTYPE html>
<html lang="en" class="htmlmain1">
    <head class="htmlhead">
        {% include head.html %}
    </head>
    <body class="htmlbody">
        <h1 id="title">ImGlobals</h1>
        <h2 id="description">{{ site.description }}</h2>
        <nav>
            <a href="/">Home</a>
            <a href="/copyright">Copyrights</a>
            <a href="/postindex.html">Posts</a>
        </nav>
        <article>
            {{ content }}
        </article>
        <footer>The copyright belongs to Imglobals. The copyright of other content is on the "Copyright" page.</footer>
    </body>
</html>