<!DOCTYPE html>
<html lang="en" class="htmlmain1">
    <head class="htmlhead">
        {% include head.html %}
    </head>
    <body class="htmlbody">
        <h1 id="title">{{ site.ig.topText}}</h1>
        <h2 id="description">{{ site.description }}</h2>
        <nav>
            <a href="/">Home</a>
            <a href="/copyright">Copyrights</a>
            <a href="/postindex.html">Posts</a>
            <a href="/pageindex.html">Tools&Pages</a>
            <a href="/about">About Us</a>
        </nav>
        <article>
            {{ content }}
        </article>
        <footer>The copyright belongs to <a href="https://imglobals.github.io">Imglobals</a>. The copyright of other content is on the "<a href="/copyright">Copyright</a>" page.</footer>
    </body>
</html>